*{
    margin: 0;
    padding: 0;
    font-family: "PlayFair Display";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#back{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
}

#left{
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 100%;
    padding: 30px 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    opacity: .7;
    font-size: 13px;
}

nav a:nth-child(2){
    font-size: 15px;
    opacity: 1;
    border-bottom: 2px solid black;
    margin-top: 6px;
    padding-bottom: 4px;
}

#circle{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: url(https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    border-radius: 50%;
}

#smcircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}

#smcircle img{
    position: absolute;
    top: 0%;
    left: -60%;
    width: 500px;
}

#vsmcircle{
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translate(0, -50%);
    width: 140px;
    height: 140px;
    border: 5px solid white;
    border-radius: 50%;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1530728327726-b504480e42ec?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80);
}

#vsmcircle i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
}

#cart{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 22px;
    cursor: pointer;
}

#right{
    width: 30%;
    height: 100%;
    overflow: auto;
    padding: 35px 40px;
    color: white;
    background-color: #222;
}

#right input{
    width: 100%;
    padding: 12px 32px;
    border-radius: 100px;
    border: none;
    outline: none;
    font-family: "Product Sans";
    color: white;
    background-color: #333;
}

#right h4{
    font-size: 22px;
    font-weight: 100;
    margin-top: 60px;
    opacity: .7;
}

#prtimg{
    width: 100%;
    height: 270px;
    margin-top: 20px;
    border-radius: 3px;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1531958532341-b88dc3d33abe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
}

#right h3{
    font-size: 27px;
    margin-top: 40px;
}

.elem{
    width: 100%;
    display: flex;
}

.elem h3{
    font-family: "Product Sans";
    font-weight: 100;
}

.elem>h3{
    font-family: "Product Sans";
    margin-right: 90px;
    font-size: 20px !important;
}

.elem .dets h3{
    font-size: 20px !important;
}


.elem .dets p{
    font-family: "Product Sans";
    opacity: .5;
    font-weight: 100;
}